body {
    margin: 0;
    font-family: Calibri, Verdana, Helvetica, Arial, sans-serif;
    line-height: 1.3;
    font-size: 11pt;
}

p, table, tr, td {
    font-size: 11pt;
    line-height: 1.3;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, dir, menu, div, 
dt, dd, address, blockquote, pre, br, hr { display: block }

b, strong, i, em, cite, var, tt, code, kbd, samp, 
img, span { display: inline }

img { margin:0;padding:0; }

li { display: list-item }

h1 {
    text-align: center;
    margin-top: 0em;
    margin-bottom: 0em;
    font-weight: bold;
    font-family: Calibri, Verdana, Helvetica, Arial, sans-serif;
}

h2, h3, h4 {
    text-align: left;
    margin-top: 0em;
    margin-bottom: 0em;
    font-weight: bold;
    font-family: Calibri, Verdana, Helvetica, Arial, sans-serif;
}

h1 { font-size: xx-large }
h2 { font-size: x-large }
h3 { font-size: large }

.fontbigbold, .fontbigboldred, .fontbigq, .fontbiga { font-size:120%;font-weight:bold }
.fontbigred { font-size:120%; }
.fontsmaller { font-size:85%; }

b, strong { font-weight: bolder }  /* relative to the parent */
i, cite, em, var, address { font-style: italic }
pre, tt, code, kbd, samp { font-family: monospace }

pre { white-space: pre }

address { margin-left: 2em }
blockquote {
    margin-left: 2em;
    margin-right: 2em;
}

ul, dir { list-style: disc }
li { margin-left: 1em }
ol { list-style: decimal }
navmenu, navmenu1, navmenu2, navmenu3 { margin: 0 }              /* tight formatting */

dt { margin-bottom: 0 }
dd { margin-top: 0; margin-left: 1em }

hr { border-top: solid }        /* 'border-bottom' could also have been used */

/* setting the anchor border around IMG elements requires contextual selectors */

a:link img { border: none }
a:visited img { border: none }
a:active img { border: none }
a:hover img { border: none }


/* Colors */

body { background-color:#C0E0FF; }

h1, h2, h3, h4, h5, h6, p, ul, ol, dir, menu, div, 
dt, dd, address, blockquote, pre, br, hr { color: black }

.yellowbackground { background-color:#eeee00; }

.headingbackgroundcolor { background-color:#6080d8; }

.fontcolorondark { color:#FFFFFF; }

.titlebetweenmenulevels { background-color:#88b8fd;font-family: Cambria, Constantia, Palatino, Georgia, serif; }

.fontbigred { color:red; }
.fontbigboldred { color:red; }
.fontbigq { color:red; }
.fontbiga { color:green; }

a:link { color: blue }          /* unvisited link */
a:visited { color: red }        /* visited links */
a:active { color: lime }        /* active links */
a:hover { color: #993333 }

.earlyelim { background:#ffbbbb; }
.lateelim { background:yellow; }


/* All-levels navigation */

.titlebetweenmenulevels { text-align: center;padding-top:3px;padding-bottom:0px; }

.navmenu ul {float:left;list-style-type:none;margin:0 0 0 0;padding:0px;width:100%;}
.navmenu1 ul {float:left;list-style-type:none;margin:0 0 0 0;padding:0px;width:100%;}
.navmenu2 ul {float:left;list-style-type:none;margin:0 0 0 0;padding:0px;width:100%;}

.navmenu ul {border-bottom-width:3px;border-bottom-style:solid;}
.navmenu1 ul {border-bottom-width:3px;border-bottom-style:solid;}
.navmenu2 ul {border-bottom-width:3px;border-bottom-style:solid;}

.navmenu ul li {float:left;margin-left:5px;margin-right:5px;margin-top:10px;margin-bottom:0;}
.navmenu1 ul li {float:left;margin-left:5px;margin-right:5px;margin-top:10px;margin-bottom:0;}
.navmenu2 ul li {float:left;margin-left:5px;margin-right:5px;margin-top:10px;margin-bottom:0;}

.navmenu ul li {border-top-width:1px;border-top-style:solid;border-left-width:1px;border-left-style:solid;border-right-width:1px;border-right-style:solid;border-bottom-width:2px;border-bottom-width:solid;}
.navmenu1 ul li {border-top-width:1px;border-top-style:solid;border-left-width:1px;border-left-style:solid;border-right-width:1px;border-right-style:solid;border-bottom-width:2px;border-bottom-width:solid;}
.navmenu2 ul li {border-top-width:1px;border-top-style:solid;border-left-width:1px;border-left-style:solid;border-right-width:1px;border-right-style:solid;border-bottom-width:2px;border-bottom-width:solid;}

.navmenu ul li a {float:left;padding-left:10px;padding-right:10px;font:12px Arial;text-decoration:none;font-weight:bold;line-height:30px;}
.navmenu1 ul li a {float:left;padding-left:10px;padding-right:10px;font:12px Arial;text-decoration:none;font-weight:bold;line-height:30px;}
.navmenu2 ul li a {float:left;padding-left:10px;padding-right:10px;font:12px Arial;text-decoration:none;font-weight:bold;line-height:30px;}

.navmenu ul li div {float:left;padding-left:10px;padding-right:10px;font:12px Arial;text-decoration:none;font-weight:bold;line-height:30px;}
.navmenu1 ul li div {float:left;padding-left:10px;padding-right:10px;font:12px Arial;text-decoration:none;font-weight:bold;line-height:30px;}
.navmenu2 ul li div {float:left;padding-left:10px;padding-right:10px;font:12px Arial;text-decoration:none;font-weight:bold;line-height:30px;}

.navmenu ul li.navtabcurrentli div {font:14px;font-weight:bold;}
.navmenu1 ul li.navtabcurrentli div {font:14px;font-weight:bold;}
.navmenu2 ul li.navtabcurrentli div {font:14px;font-weight:bold;}

.navmenu ul li a:hover {text-decoration:underline;}
.navmenu1 ul li a:hover {text-decoration:underline;}
.navmenu2 ul li a:hover {text-decoration:underline;}

.navmenu2 ul li.narrowtab a {padding-left:8px;padding-right:8px;}

.navmenu2 ul li.narrowtab div {padding-left:8px;padding-right:8px;}

.narrowtab {margin-left:2px;margin-right:2px;padding-left:2px;padding-right:2px;}

.navmenu ul li.navtabcurrentli {border-top-width:1px;border-top-style:solid;border-left-width:1px;border-left-style:solid;border-right-width:1px;border-right-style:solid;border-bottom-width:3px;border-bottom-style:solid;}
.navmenu1 ul li.navtabcurrentli1 {border-top-width:1px;border-top-style:solid;border-left-width:1px;border-left-style:solid;border-right-width:1px;border-right-style:solid;border-bottom-width:3px;border-bottom-style:solid;}
.navmenu2 ul li.navtabcurrentli2 {border-top-width:1px;border-top-style:solid;border-left-width:1px;border-left-style:solid;border-right-width:1px;border-right-style:solid;border-bottom-width:3px;border-bottom-style:solid;}


/* All-level navigation colors */

.navmenu ul li a {color:#0000aa;}
.navmenu1 ul li a {color:#0000aa;}
.navmenu2 ul li a {color:#0000aa;}

.navmenu ul li div {color:#0000aa;}
.navmenu1 ul li div {color:#0000aa;}
.navmenu2 ul li div {color:#0000aa;}

.navmenu ul li.navtabcurrentli div {color:#0000aa;}
.navmenu1 ul li.navtabcurrentli1 div {color:#0000aa;}
.navmenu2 ul li.navtabcurrentli2 div {color:#0000aa;}


/* unused:? */
.betweennav {background-color:#88b8fd;}


/* Single-level navigation */

.navmenu ul {background:#6080d8;border-bottom-color:#c0e0ff;}

.navmenu ul li {background:#eeee00;border-top-color:#404040;border-left-color:#404040;border-right-color:#404040;border-bottom-color:#6080d8;}

.navmenu ul li.navtabcurrentli {background:#88b8fd;border-top-color:#404040;border-left-color:#404040;border-right-color:#404040;border-bottom-color:#c0e0ff;}

.navmenu ul li.navtabcurrentli div {background:#c0e0ff;}


/* Two-level navigation */

.navmenu1 ul {background:#6080d8;border-bottom-color:#88b8fd;}

.navmenu1 ul li {background:#eeee00;border-top-color:#404040;border-left-color:#404040;border-right-color:#404040;border-bottom-color:#6080d8;}

.navmenu1 ul li.navtabcurrentli1 {background:#88b8fd;border-top-color:#404040;border-left-color:#404040;border-right-color:#404040;border-bottom-color:#88b8fd;}

.navmenu1 ul li.navtabcurrentli1 div {background:#88b8fd;}

.navmenu2 ul {background:#88b8fd;border-bottom-color:#c0e0ff;}

.navmenu2 ul li {background:#eeee00;border-top-color:#606060;border-left-color:#606060;border-right-color:#606060;border-bottom-color:#88b8fd;}

.navmenu2 ul li.navtabcurrentli2 {background:#c0e0ff;border-top-color:#606060;border-left-color:#606060;border-right-color:#606060;border-bottom-color:#c0e0ff;}

.navmenu2 ul li.navtabcurrentli2 div {background:#c0e0ff;}


/* Three-level navigation */

.navlevel1of3 .titlebetweenmenulevels { background:#80a0e5;}
.navlevel2of3 .titlebetweenmenulevels { background:#a0c0f2;}

.navlevel1of3 .navmenu ul {background:#6080d8;border-bottom-color:#80a0e5;}
.navlevel2of3 .navmenu ul {background:#80a0e5;border-bottom-color:#a0c0f2;}
.navlevel3of3 .navmenu ul {background:#a0c0f2;border-bottom-color:#c0e0ff;}

.navlevel1of3 .navmenu ul li.navtabcurrentli {background:#80a0e5;border-bottom-color:#80a0e5;}
.navlevel2of3 .navmenu ul li.navtabcurrentli {background:#a0c0f2;border-bottom-color:#a0c0f2;}
.navlevel3of3 .navmenu ul li.navtabcurrentli {background:#c0e0ff;border-bottom-color:#c0e0ff;}

.navlevel1of3 .navmenu ul li {border-top-color:#404040;border-left-color:#404040;border-right-color:#404040;}
.navlevel2of3 .navmenu ul li {border-top-color:#606060;border-left-color:#606060;border-right-color:#606060;}
.navlevel3of3 .navmenu ul li {border-top-color:#808080;border-left-color:#808080;border-right-color:#808080;}


/* Special formatting */

.byline {font:10px;font-style:italic;margin-left:auto;margin-right:auto;text-align:center}


/* Right sidebar */

.rightsidebar {display:block;margin-top:18px;margin-bottom:18px;margin-left:4px;margin-right:4px;padding-top:18px;padding-bottom:18px;padding-left:4px;padding-right:4px;background:#eeee00;width:150px;}

.rightsidebar p {text-align:center;}


/* Adjustments */

.content {padding-left:2em;padding-right:2em;padding-top:0;padding-bottom:0;margin:0 0 0 0;}
.myth {font:14px;padding-bottom:2px;}
.fact {font:14px;padding-bottom:2em;}
.contactemailadr {display:block;margin:0 0 0 0;padding:0 0 0 0;}
.fontserif { color:#FFFFFF;font-family: Cambria, Constantia, Palatino, Georgia, serif; }
